@{
    ViewData["Title"] = "Reporte Excel";
    var hoy = DateTime.Today;
    var haceUnMes = hoy.AddMonths(-1);
    var mesActual = hoy.Month;
    var anioActual = hoy.Year;
    var mesAnterior = haceUnMes.Month;
    var mesAnteriorAnio = haceUnMes.Year;
    var anioAnterior = anioActual - 1;
}

<partial name="_Submenu" Model="SubMenuTransacciones.Excel" />

<h1 class="titulo-excel">Exportar Transacciones a Excel</h1>

<div class="contenedor-excel">
    <div class="mb-3">
        <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesActual" asp-route-anio="@anioActual"
           class="btn btn-success btn-excel">
            Exportar mes actual ~ @hoy.ToString("MMMM yyyy")
        </a> 
    </div>

    <div class="mb-3">
        <a asp-action="ExportarExcelPorMes" asp-route-mes="@mesAnterior" asp-route-anio="@mesAnteriorAnio"
           class="btn btn-success btn-excel">
            Exportar mes anterior ~ @haceUnMes.ToString("MMMM yyyy")
        </a>
    </div>

    <div class="mb-3">
        <a asp-action="ExportarExcelPorAnio" asp-route-anio="@anioActual"
           class="btn btn-success btn-excel">
            Exportar año actual ~ @anioActual
        </a>
    </div>

    <div class="mb-3">
        <a asp-action="ExportarExcelPorAnio" asp-route-anio="@anioAnterior"
           class="btn btn-success btn-excel">
            Exportar año anterior ~ @anioAnterior
        </a>
    </div>


    <div class="mb-3">
        <a asp-action="ExportarExcelTodo"
           class="btn btn-success btn-excel">
            Exportar todo
        </a>
    </div>
</div>
